<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  {% seo %}
  <link rel="stylesheet" href="/assets/css/site.css">
  <link rel="shortcut icon" href="/assets/images/KP-gray.png">
</head>

<body class="bg-gray-200 leading-normal tracking-normal">
  {% include header.html %}
  <div class="container w-full md:max-w-3xl mx-auto pt-6 mb-6">
    <!--Blog-->
  <div class="w-full text-center px-4 md:px-6 text-xl text-gray-800 leading-normal">
  <h1 class="font-bold break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">Blog</h1>
  <p class="py-6">Read about my latest projects, tutorials and useful tips I've picked up on data, software development and more!  
  </p>
</div>
  </div>

  <div class="flex flex-wrap p-8">
    <!--Container-->
    <div class="container px-4 md:px-0 max-w-4xl mx-auto">
      <div class="mx-0 sm:mx-6">
        <div class="bg-gray-200 w-full text-xl md:text-2xl text-gray-800 leading-normal rounded-t">

          <!--Lead Card-->
          {% for post in site.categories['featured'] limit: 1 %}
          <div class="flex bg-white rounded shadow-lg">
            <a href="{{ post.url }}" class="flex flex-wrap no-underline hover:no-underline">
              <div class="w-full md:w-2/3 rounded-t">
                <img src="{{ post.backgroundurl }}" class="h-64 md:h-full  w-full rounded-t">
              </div>
              <div class="w-full md:w-1/3 flex flex-col flex-grow flex-shrink">
                <div class="flex-1 bg-white rounded-t rounded-b-none shadow-lg">
                  <p class="w-full text-teal-500 font-bold text-xs md:text-sm pt-6 px-6">✨ FEATURED ARTICLE</p>
                  <p class="w-full text-gray-600 text-xs md:text-sm pt-6 px-6">
                    {% if post.tags %}
                    /
                    {% for tag in post.tags %}
                    {{ tag | upcase }} /
                    {% endfor %}
                    {% endif %}
                  </p>
                  <div class="w-full font-bold text-xl text-gray-900 px-6">{{ post.title }}</div>
                  <p class="text-gray-800 font-serif text-base px-6 mb-5">
                    {{ post.description }}
                  </p>
                </div>
                <div class="flex-none mt-auto bg-white rounded-b rounded-t-none shadow-lg p-6">
                  <div class="flex items-center justify-between">
                    <img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Kerry Parker"
                      src="https://avatars2.githubusercontent.com/u/19613406?s=400&u=c2c6651fdbde556cc8868bfea08f94a48f0f4b1d&v=4"
                      alt="Avatar of Author">
                    <p class="text-gray-600 text-xs md:text-sm">{{ post.time | upcase }} READ</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!--/Lead Card-->
          {% endfor %}

          <!--Posts Container-->
          <div class="flex flex-wrap justify-between pt-12 -mx-6">
            {% for post in site.categories['article']%}
            <!--1/3 col -->
            <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink">
              <div class="flex-1 bg-white rounded-t rounded-b-none shadow-lg">
                <a href="{{ post.url }}" class="flex flex-wrap no-underline hover:no-underline">
                  <img src="{{ post.backgroundurl }}" class="h-64 w-full rounded-t pb-6">
                  <p class="w-full text-gray-600 text-xs md:text-sm px-6">
                    {% if post.tags %}
                    /
                    {% for tag in post.tags %}
                    {{ tag | upcase }} /
                    {% endfor %}
                    {% endif %}
                  </p>
                  <div class="w-full font-bold text-xl text-gray-900 px-6">{{ post.title }}</div>
                  <p class="text-gray-800 text-base px-6 mb-5">
                    {{ post.description }}
                  </p>
                </a>
              </div>
              <div class="flex-none mt-auto bg-white rounded-b rounded-t-none shadow-lg p-6">
                <div class="flex items-center justify-between">
                  <img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Kerry Parker"
                    src="https://avatars2.githubusercontent.com/u/19613406?s=400&u=c2c6651fdbde556cc8868bfea08f94a48f0f4b1d&v=4"
                    alt="Avatar of Author">
                  <p class="text-gray-600 text-xs md:text-sm">{{ post.time | upcase }} READ</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <!--/ Post Content-->
        </div>
      </div>
    </div>
</div>
  {% include footer.html %}
  <script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@4"></script>
  <script>
    //Init tooltips
    tippy('.avatar')
  </script>
</body>