<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    {% seo %}
    <link rel="stylesheet" href="/assets/css/site.css">
    <link rel="shortcut icon" href="/assets/images/KP-gray.png">
</head>

<body class="bg-white font-sans leading-normal tracking-normal">
    {% include header.html %}

    <!--Title-->
    <div class="text-center pt-16 md:pt-32">
        <p class="text-sm md:text-base text-teal-500 font-bold">{{ page.date | date_to_long_string | upcase }} <span class="text-gray-900">/</span>
                    {% if post %}
                        {% assign tags = post.tags %}
                    {% else %}
                        {% assign tags = page.tags %}
                    {% endif %}
                    {% for tag in tags %}
                    <button class="bg-teal-500 text-xs hover:bg-blue-900 text-white font-bold rounded px-2">
                        <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag | upcase}}</a></button>
                        <!--{% unless forloop.last %}&nbsp;{% endunless %}-->
                    {% endfor %}
                </p>
                <!--<div class="post-categories font-bold mt-6 text-blue-900 text-xl">
                    {% if post %}
                      {% assign categories = post.categories %}
                    {% else %}
                      {% assign categories = page.categories %}
                    {% endif %}
                    {% for category in categories %}
                    <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category | upcase}}</a>
                    {% unless forloop.last %}&nbsp;{% endunless %}
                    {% endfor %}
                  </div>-->
        <h1 class="font-bold break-normal text-3xl md:text-5xl">{{ page.title }}</h1>
    </div>

    <!--image-->
    <div class="container w-full bg-center text-center mx-auto bg-white bg-cover mt-8 rounded"
        style="background-image:url({{ page.backgroundurl }}); height: 75vh;"></div>

    <!--Container-->
<div class="container mx-auto -mt-32">

        <div class="mx-0 sm:mx-6">

                <div class="markdown w-full p-8 md:p-24 text-xl md:text-2xl">
                    <!--Post Content-->
                    {{ content }}
                    <!--/ Post Content-->
                </div>

            <!--Subscribe-->
            <div class="container px-20">
                <div class="font-sans bg-white rounded-lg shadow-md p-4 text-center">
                    <h2 class="font-bold break-normal text-xl md:text-3xl">✨Subscribe to my Newsletter✨</h2>
                    <h3 class="font-bold break-normal font-normal text-gray-600 text-sm md:text-base">Get the latest posts delivered right to your inbox</h3>
                    <div class="w-full text-center pt-4">
                            <div class="max-w-xl mx-auto p-1 pr-0 flex flex-wrap items-center">
                                <a href="https://kaparker.substack.com/" class="flex-1 mt-4 block md:inline-block appearance-none bg-teal-500 text-white text-base font-semibold tracking-wider uppercase py-4 rounded shadow hover:bg-teal-400">Subscribe</a>
                            </div>
                    </div>
                </div>
            </div>
            <!-- /Subscribe-->
            <!--Author-->
            <div class="flex w-full items-center font-sans p-8 md:p-24">
            
                    <img class="w-10 h-10 rounded-full mr-4"
                        src="https://avatars2.githubusercontent.com/u/19613406?s=400&u=c2c6651fdbde556cc8868bfea08f94a48f0f4b1d&v=4"
                        alt="Avatar of Author">
                    <div class="flex-1">
                        <p class="text-base font-bold text-base md:text-xl mb-2 leading-none">Kerry Parker</p>
                        <p class="text-gray-600 text-xs md:text-base">Data Scientist with PhD in Physics. Interested in
                            learning, software development and productivity, see more posts on <a
                                class="text-gray-800 hover:text-teal-500 no-underline border-b-2 border-teal-500"
                                href="https://medium.com/@_kaparker">Medium.</a></p>
                    </div>
                    <div class="justify-end">
                        <button onclick="window.location.href='/articles';"
                            class="bg-transparent border border-gray-500 hover:border-teal-500 text-xs text-gray-500 hover:text-teal-500 font-bold py-2 px-4 rounded-full">Read
                            More</button>
                    </div>
                </div>
                <!--/Author-->
        </div>
    </div>


    <div class="bg-gray-200">
        <div class="container w-full mx-auto px-2 py-8">
            <div class="flex flex-wrap -mx-2">
                {% for post in site.categories['promoted'] limit: 3 %}
                {% if post == page %}
                {% continue %}
                {% endif %}
                <div class="w-full flex flex-col flex-grow flex-shrink md:w-1/3 px-2 pb-12 ">
                    <div class="h-full bg-white rounded overflow-hidden shadow-md hover:shadow-lg relative smooth">
                        <a href="{{ post.url }}" class="no-underline hover:no-underline">
                            <img src="{{ post.backgroundurl }}" class="h-48 w-full rounded-t shadow-lg">
                            <div class="p-6 h-auto md:h-48">
                                {% if post.tags %}
                                <p class="text-gray-600 text-xs md:text-sm"> /
                                    {% for tag in post.tags %}
                                    {{ tag | upcase }} /
                                    {% endfor %}
                                </p>
                                {% endif %}
                                <div class="font-bold text-xl text-gray-900">{{ post.title }}</div>
                                <p class="text-gray-800 font-serif text-base mb-5">
                                    {{ post.date | date_to_long_string }}
                                </p>
                            </div>
                            <div class="flex items-center justify-between inset-x-0 bottom-0 p-6">
                                <img class="w-8 h-8 rounded-full mr-4"
                                    src="https://avatars2.githubusercontent.com/u/19613406?s=400&u=c2c6651fdbde556cc8868bfea08f94a48f0f4b1d&v=4"
                                    alt="Avatar of Author">
                                <p class="text-gray-600 text-xs md:text-sm">{{ post.time | upcase }} READ</p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>